body {
  background-color: var(--dark-background);
  height: 100vh;
  width: 100vw;
}

.content {
  width: 40rem;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

img {
  width: 6rem;
}

h1 {
  font-size: 3rem;
  color: var(--accent-text);
  margin-bottom: 50px;
}

.google-wrapper {
  width: 40%;
  margin: auto;
}