* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgb(54, 54, 54);
}
h1, h4 {
    text-align: center;
}
form {
    
}
.message {

}
.content {
    width: 800px;
    margin: auto;
}