* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgb(40, 40, 40);
}
.content {
    max-width: 800px;
    height: 100vh;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}
h1, h4 {
    text-align: center;
    color: #E6E6E6;
}
table {
    color: #E6E6E6;
    width: 100%;
}
.message {
    display: flex;
    width: 100%;
    border-radius: 7px;
}
.message:hover {
    background-color: rgb(51, 51, 51);
}
.message:hover .delete-image {
    display: inline;
}
.message-content {
    padding: 3px 6px;
    flex-grow: 1;
    overflow: hidden;
    font-size: 1.5rem;
}
.delete-image {
    display: none;
    width: 1.2rem;
    height: 100%;
    margin-right: .3rem;
    margin-left: .3rem;
}
.form-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
form {
    width: 100%;
    padding: 7px;
    padding-left: 10px;
    border-radius: 26px;
    background-color: rgb(73, 73, 73);
    display: flex;
    gap: 5px;
}
input[type=text] {
    flex-grow: 1;
    background: transparent;
    color: #E6E6E6;
    border: 0;
    font-size: 2rem;
}
input[type=image] {
    width: 2rem;
    vertical-align: middle;
}