{% extends 'base.html' %} {% block head %}
<title>Chat</title>
{% endblock %} {% block body %}
<div id="content">
  <div class="channel-pane">
    <h1>Channels</h1>
    <div class="list-container">
      <ul class="list">
        {% if channels|length < 1 %} <li>No Channels</li>
          {% else %}
          {% for channel in channels %}
          {% if channel.name == selected_channel_name %}
          <li class="item selected-item">
            <p class="item-content channel-content">{{ channel.name }}</p><a
              href="/delete-channel/{{ channel.id }}"><img
                src="{{ url_for('static', filename='svg/close_button_icon.svg') }}" class="delete-image" /></a>
          </li>
          {% else %}
          <li class="item">
            <p class="item-content channel-content"><a href="/channel/{{ channel.name }}">{{
                channel.name }}</a></p><a href="/delete-channel/{{ channel.id }}"><img
                src="{{ url_for('static', filename='svg/close_button_icon.svg') }}" class="delete-image" /></a>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
      </ul>
    </div>
    <div class="form-container">
      <form action="/add-channel" method="POST">
        <input type="text" name="channel-name" /><input type="submit" value="Add Channel" />
      </form>
    </div>
  </div>
  <div id="pane-divider"></div>
  <div class="chat-pane">
    <nav>
      <h1>{{ selected_channel_name }}</h1>
    </nav>
    <div class="list-container" id="chat-list-container">
      <ul class="list">
        {% if messages|length < 1 %} <li>There are no messages.</li>
          {% else %}
          {% for message in messages %}
          <li class="item">
            <p class="item-content" title="{{message.datetime_sent}}">
              {{ message.content }}
            </p><a href="/delete-message/{{ message.id }}"><img
                src="{{ url_for('static', filename='svg/close_button_icon.svg') }}" class="delete-image" /></a>
          </li>
          {% endfor %}
          {% endif %}
      </ul>
    </div>
    <div class="form-container">
      <form action="/channel/{{ selected_channel_name }}" method="POST">
        <input type="text" name="content" placeholder="Start typing..." id="textbox" /><input type="image" alt="Submit"
          value="Add Message" src="{{ url_for('static', filename='svg/send_button_icon.svg') }}" />
      </form>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
{% endblock %}