{% extends 'base.html' %}

{% block head %}
<title>booyah</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Chat</h1>
    {% if messages|length < 1 %}
    <h4>There are no messages. Create one below.</h4>
    {% else %}

    <table>
        {% for message in messages %}
            <tr>
                <td class="message" title="{{message.datetime_sent}}">
                    <p class="message-content">{{ message.content }}</p><a href="/delete/{{message.id}}"><img src="{{ url_for('static', filename='svg/close_button_icon.svg') }}" class="delete-image"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form-container">
    <form action="/" method="POST">
        <input type="text" name="content" placeholder="Start typing..." id="textbox" tabindex="1"><input type="image" alt="Submit" value="Add Message" src="{{ url_for('static', filename='svg/send_button_icon.svg') }}" tabindex="2">
    </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
{% endblock %}