{% extends 'base.html' %}

{% block head %}
<title>booyah</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Chat</h1>
    {% if messages|length < 1 %}
    <h4>There are no messages. Create one below.</h4>
    {% else %}

    <table>
        {% for message in messages %}
            <tr class="message">
                <td>{{ message.content }}</td>
                <td>{{ message.datetime_sent.strftime("%H:%M:%S") }}</td>
                <td>
                    <a href="/delete/{{message.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Message">
    </form>
</div>
<script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
{% endblock %}